* {
  --primary:{{ initParams.styles.primary }};
  --secondary:{{ initParams.styles.secondary }};
  --accent:{{ initParams.styles.accent }};
  --fontFamily:{{initParams.styles.font}}
  --timingImgWidth:{{initParams.timing.img.width}};
}

.root {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100%;
  color: var(--accent);
  font-family: 'Outfit', sans-serif;
}

.lt{
  left:0;
  top:10%;
  background: var(--secondary);
  width: 150px;
  height: 150px;
  position: absolute;
}

.intro,.problem,
.solution,.product,
.timeline,.timing,
.traction,.target-market,
.market-size,.competitors,
.competive-advantages,
.competitor-approach,.model,
.team,.future,.contact{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--primary);
  overflow: hidden;
}

.rb{
  position: absolute;
  width: 12%;
  height: 75%;
  right: 0;
  bottom: 0;
  background: var(--secondary);
  display: flex; 
  justify-content: center;
}

.grid-dot-wrapper{
  width: 150px;
  height: 150px;
  position: absolute;
  top:70%;
  left: 85%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(24px, 1fr));
  grid-gap: 10px;
  align-items: center;
  justify-items: center;
}

.grid-dot{
  width: 20px;
  height: 20px;
  background: var(--accent);
  border-radius: 50%;
}

.comp-info ,.problem-info{
  position: absolute;
  width: 1200px;
  display: flex;
  flex-direction: column;
  top: 35%;
  left: 5%;
  overflow: hidden;
}

.solution-info{
  position: absolute;
  width: 1200px;
  display: flex;
  flex-direction: column;
  top: 35%;
  right: 5%;
  overflow: hidden;
}

.product-info,.traction-info,.market-size-info{
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 90%;
  bottom: 10%;
  right: 5%;
  overflow: hidden;
}

.traction-info{
  bottom: -50%;
}

.market-size-info{
  bottom: 75%;
}

.timeline-info{
  position: absolute;
  width: 44%;
  display: flex;
  flex-direction: column;
  top: 15%;
  right: 5%;
  overflow: hidden;
  text-align: right;
}

.timing-info{
  position: absolute;
  width: 35%;
  display: flex;
  flex-direction: column;
  top: 40%;
  left: 5%;
  overflow: hidden;
}

.target-market > .text{
  position: absolute;
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  top: 5%;
  left: 5%;
  height: 85%;
  overflow: hidden;
}

.target-market-info{
  display: flex;
  flex-direction: column;
}

.model-info,.future-info{
  position: absolute;
  width: 45%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  top: 8%;
  left: 5%;
  overflow: hidden;
}

.comp-name{
  font-size: 200px;
  font-weight: 700;
  position: relative;
}

.slogan{
  font-size: 40px;
  margin-top: 30px;
  position: relative;
}

.problem-info,.solution-info{
  top:13%;
  width: 507px;
}

.problem-info > .title{
  font-size: 100px;
  font-weight: 700;
  left:-100%;
  position: relative;
}

.problem-info > .subtitle{
  font-size: 30px;
  font-weight: 400;
  left:-100%;
  position: relative;
}

.solution-info > .title{
  font-size: 100px;
  font-weight: 700;
  right:-100%;
  position: relative;
}

.solution-info > .subtitle{
  font-size: 30px;
  font-weight: 400;
  right:-100%;
  position: relative;
}

.product-info > .title{
  width:25%;
  font-size: 70px;
  font-weight: 700;
  left:-30%;
  position: relative;
}

.product-info > .description {
  width:40%;
  font-size: 30px;
  font-weight: 400;
  position: relative;
  left:100%;
}

.timeline-info > .title{
  font-size: 70px;
  font-weight: 700;
  right:-100%;
  position: relative;
}

.timeline-info > .subtitle{
  margin-top: 40px;
  font-size: 30px;
  font-weight: 400;
  right:-100%;
  position: relative;
}

.timing > .title{
  font-size: 100px;
  font-weight: 700;
  top:-50%;
  left:5%;
  position: absolute;
}

 .timing-title{
  font-size: 70px;
  font-weight: 700;
  left:-100%;
  position: relative;
}

.timing-description{
  margin-top: 10px;
  font-size: 30px;
  font-weight: 400;
  left:-100%;
  position: relative;
}

.traction-info > .title{
  width:25%;
  font-size: 70px;
  font-weight: 700;
  left:5%;
  position: relative;
}

.traction-info > .subtitle{
  width:40%;
  font-size: 30px;
  font-weight: 400;
  position: relative;
  left:20%;
}

.target-market-info > .title {
  font-size: 70px;
  font-weight: 700;
  position: relative;
  left: -100%;
}

.target-market-info > .subtitle {
  font-size: 30px;
  font-weight: 400;
  position: relative;
  left: -100%;
}

.market-size-info > .title{
  width:35%;
  font-size: 70px;
  font-weight: 700;
  left:-50%;
  position: relative;
}

.market-size-info > .subtitle{
  width:45%;
  font-size: 30px;
  font-weight: 400;
  position: relative;
  left:100%;
}

.model-info > .title,.future-info > .title{
  font-size: 70px;
  font-weight: 700;
  position: relative;
  width: 60%;
  left: -100%;
}

.team > .title{
  font-size: 70px;
  font-weight: 700;
  position: absolute;
  width: 60%;
  left: -100%;
  top: 8%;
}

.model-info > .subtitle,.future-info > .subtitle{
  font-size: 30px;
  font-weight: 400;
  position: relative;
  width: 49%;
  left: -100%;
}

.future-info > .subtitle{
  width:60%;
}

.problem > .rb{
  left: 3%;
  width: 15%;
  height: 0%;
}

.problem > .lt{
  left: 97%;
  width: 60px;
  height: 60px;
}

.solution > .rb{
  height: 0%;
  right:0%;
}

.solution > .lt{
  width:0%;
}

.timeline > .lt{
  top:0%;
  height: 0%;
  width:3%;
  left:8%;
}

.timeline > .rb{
  right: 0%;
  bottom: 5%;
  height: 30%;
}

.problem-list-root{
  width: 33%;
  position: absolute;
  display: flex;
  flex-direction: column;
  left: 50%;
  top:15%;
}

.solution-list-root{
  width: 33%;
  position: absolute;
  display: flex;
  flex-direction: column;
  right: 50%;
  top:15%;
}

.target-market-list-root{
  width: 65%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.market-size-list-root{
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
  width: 90%;
  left: 5%;
  bottom: 30%;
}

.competive-advantages-list-root{
  width: 90%;
  position: absolute;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  left: 8%;
  top:8%;
  height: 60%;
}

.competitor-approach-list-root{
  width: 60%;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  left: 45%;
  top:5%;
  height: 90%;
}

.model-list-root{
  width: 35%;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 80%;
  left: 55%;
  top:8%;
}

.team-list-root{
  width: 90%;
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  left: 5%;
  top:30%;
  height: 70%;
}

.market-size-number{
  background: var(--secondary);
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 30px;
  width: 350px;
  padding: 15px 0px 15px 0px;
  border-radius: 20px;
  opacity: 0;
}

.market-size-tag{
  font-size: 30px;
  font-weight: 400;
  width: 350px;
  opacity: 0;
}

.problem-title-wrapper,
.problem-description-wrapper,
.solution-title-wrapper,
.solution-description-wrapper,
.step-title-wrapper,.step-date-wrapper,
.timing-title-wrapper,
.timing-description-wrapper,
.competive-advantages-title-wrapper,
.competive-advantages-description-wrapper,
.competitor-approach-title-wrapper,
.competitor-approach-description-wrapper,
.member-title-wrapper,.member-subtitle-wrapper,.future-title-wrapper,
.future-description-wrapper,.contact-info-wrapper{
  position: relative;
  overflow: hidden;
  margin-top: 40px;
}

.flex-column{
  display: flex;
  flex-direction: column;
}

.flex-row{
  display: flex;
  flex-direction: row;
  gap: 40px;
  align-items: center;
}

.problem-title,.solution-title,
.step-title,.competive-advantages-title,.member-title,.future-title{
  font-size: 50px;
  font-weight: 700;
  position: relative;
  top: -100px;
}

.problem-description,.solution-description,
.step-date,.competive-advantages-description,
.competitor-approach-description,
.member-subtitle,.future-description{
  font-size: 30px;
  font-weight: 400;
  position: relative;
  top: -100px;
}

.competitor-approach-title{
  font-size: 50px;
  font-weight: 700;
  position: relative;
  left: -100%;
}

.contact-info{
  font-size: 30px;
  font-weight: 400;
  position: relative;
  left: -100%;
}

.target-market-title{
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 5px;
  position: relative;
  left: -100%;
}

.target-market-description{
  font-size: 30px;
  font-weight: 400;
  position: relative;
  left: -100%;
}

.product > .lt{
  width: 100%;
  top: 0;
  height: 0;
}

.product img{
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-60%,-50%);
  width: 0;
}

.calendar{
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 80%;
  width: 20%;
  left: 10%;
  top: 10%;
  text-align: right;
}

.timing img{
  position: absolute;
  right: 15%;
  top: -100%;
}

.target-market img{
  width:30%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right:-50%;
}                                                                                                                                                                                                                                                         
/* .timing > .rb{
  width: var(--timingImgWidth);
} */

.timing >.lt{
  width: 0%;
}

.timing > .rb{
  width: 600px;
  height: 0px;
  right: 2%;
}

.traction > .lt{
  left: 0%;
  top: 0%;
  width:0%;
  height: 50%;
}
.traction > .rb, .competitors > .rb{
  right: 0%;
  bottom: 0%;
  width: 0%;
  height: 50%;
}

.target-market > .lt{
  left: 0%;
  width: 0%;
  top: 0%;
  height: 40%;
}

.target-market > .rb{
  right: 0%;
  height: 0%;
  bottom: 0%;
  width: 25%;
}

.competitors .title{
  font-size: 70px;
  font-weight: 700;
  opacity: 0;
}

.direct{
  position:absolute;
  display: flex;
  flex-direction: row;
  top: 8%;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  left: 5%;
}

.indirect{
  position:absolute;
  display: flex;
  flex-direction: row;
  bottom: 10%;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  left: 5%;
}

.direct-competitors-icon-wrapper{
  background: var(--secondary);
  border-radius: 100%;
}

.indirect-competitors-icon-wrapper{
  background: var(--primary);
  border-radius: 100%;
}

.competitor-approach-icon-wrapper{
  background: var(--secondary);
  border-radius: 25px;
  opacity: 0;
}

.competitors-list-root{
  display: flex;
  gap:50px;
}

.direct-competitors-list-root{
  flex-direction: row;
}

.indirect-competitors-list-root{
  flex-direction: row-reverse;
}

.competitors-icon-wrapper img,.competitor-approach-icon-wrapper img{
  padding: 30px;
}

.competitors-list-root > .item{
  opacity:0;
}

.competive-advantages-list-root .item{
  width: 40%;
}

.competive-advantages > .title{
  font-size: 70px;
  font-weight: 700;
  left: 8%;
  bottom:-50%;
  position: absolute;
  width: 20%;
}

.competitor-approach > .title{
  font-size: 70px;
  font-weight: 700;
  left: 8%;
  top:-50%;
  position: absolute;
  width: 20%;
}

.competive-advantages > .lt {
  top: 75%;
  height: 20%;
  width: 0;
  left: 0;
}

.competitor-approach-description{
  width: 75%;
}

.model .item{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 30%;
  position: relative;
  right: -150%;
}

.model-description-wrapper{
  font-size: 30px;
  font-weight: 400;
  width: 80%;
  text-align: center;
  opacity: 0;
}

.model .line{
  right: 0%;
  width: 100%;
  height: 5px;
  background: var(--secondary);
}

.team .member{
  display: flex;
  flex-direction: column;
}

.member img{
  width: 50%;
  border-radius: 100%;
  opacity: 0;
}

.team > .lt{
  width: 0;
  left: 0;
  top:25%;
  height: 60%;
}
.future-list-root{
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 80%;
  width: 20%;
  left: 50%;
  top: 10%;

}

.future-list-root > .step{
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.future-id{
  font-size: 40px;
  font-weight: 700;
  width: 55px;
  height: 55px;
  background:var(--secondary);
  border-radius: 20px;
  text-align: center;
  opacity: 0;
}

.future > .lt{
  width: 2px;
  height: 0%;
  left: 54%;
  top:0%;
}

.contact .item{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.contact > .title{
  font-size: 100px;
  font-weight: 700;
  bottom:-50%;
  right:5%;
  position: absolute;
}

.contact-list-root{
  width: 90%;
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  left: 5%;
  top:15%;
}

.contact > .rb{
  bottom: 5%;
  height: 18%;
  width: 0%;
  right: 0%;
}
